<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}Devilan{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/design.css') }}">
		{% endblock %}
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav>
			<ul>
				<li {% if menuActive is defined and menuActive == 'blog' %}class="active"{% endif %}>
					<a href="{{ path('UAblog_default') }}">
						<img src="{{asset('pictures/menu/home.png')}}" class="img-responsive" alt="Home">
						<span>{{'tooltip.home'|trans}}</span>
					</a>
				</li>
				<li {% if menuActive is defined and menuActive == 'matchs' %}class="active"{% endif %}>
					<a href="{{ path('UAMatchBundle_ViewGameSelect') }}">
						<img src="{{asset('pictures/menu/matchs.png')}}" class="img-responsive" alt="Matchs">
						<span>{{'tooltip.matchs'|trans}}</span>
					</a>
				</li>
				<li {% if menuActive is defined and menuActive == 'reglement' %}class="active"{% endif %}>
					<a href="">
						<img src="{{asset('pictures/menu/reglement.png')}}" class="img-responsive" alt="Reglement">
						<span>{{'tooltip.reglement'|trans}}</span>
					</a>
				</li>
				<li {% if menuActive is defined and menuActive == 'teams' %}class="active"{% endif %}>
					<a href="{{ path('UAMatchBundle_viewTeam') }}">
						<img src="{{asset('pictures/menu/teams.png')}}" class="img-responsive" alt="Teams">
						<span>{{'tooltip.team'|trans}}</span>
					</a>
				</li>
				<li {% if menuActive is defined and menuActive == 'faq' %}class="active"{% endif %}>
					<a href="{{path('UAFAQ_voir')}}">
						<img src="{{asset('pictures/menu/faq.png')}}" class="img-responsive" alt="F.A.Q.">
						<span>{{'tooltip.faq'|trans}}</span>
					</a>
				</li>
				{% if is_granted("ROLE_BLOGGER") or is_granted("ROLE_ARBITRE") %}
					<li {% if menuActive is defined and menuActive == 'admin' %}class="active"{% endif %}>
						<a href="{{ path('UAUser_admin') }}">
							<img src="{{asset('pictures/menu/admin.png')}}" class="img-responsive" alt="Admin">
							<span>{{'tooltip.admin'|trans}}</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<header>
			{% block headerTitle %}
			{% endblock %}

			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div id="loginInfo">
					{{'adminBar.hello'|trans({pseudo: app.user.username})}}
				</div>

				<div id="logout">
					<a href="{{ path('fos_user_security_logout') }}">
						<img src="{{asset('pictures/logout.png')}}" alt="logout">
					</a>
				</div>
			{% else %}
				<div id="login">
					<a href="{{path('fos_user_security_login')}}">
						<img src="{{asset('pictures/login.png')}}" alt="login">
					</a>
				</div>
			{% endif %}
		</header>
		<section>
			<article>
				{# Flash messages #}
				{% for flashMessage in app.session.flashbag.get('success') %}
					<div class="alert alert-success">
						{{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('danger') %}
					<div class="alert alert-danger">
						{{ flashMessage }}
					</div>
				{% endfor %}

				{# body of the site#}
				{% block body %}
				{% endblock %}
			</article>

			{% block aside %}
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

				{% else %}

					<form action="{{ path('fos_user_security_check') }}" method="post" style="text-align:center;">
						<label for="username">{{'adminBar.input.login'|trans}}</label>
						<input type="text" id="username" name="_username" placeholder="{{'adminBar.input.login'}}" class="form-control" />

						<label for="password">{{'adminBar.input.password'|trans}}</label>
						<input type="password" id="password" name="_password" placeholder="{{'adminBar.input.password'|trans}}" class="form-control" />
						<br />
						<div class="btn-group">
							<input type="submit" value="{{'adminBar.log'|trans}}" class="btn btn-default" />
							<a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">{{'adminBar.register'|trans}}</a>
						</div>
					</form>

				{% endif %}
			{% endblock %}
		</section>
		<footer>
			{{ 'footer'|trans }}
		</footer>
		
		{# Block with all javascript #}
		{% javascripts 
					'js/jquery.min.js'
					'js/tooltip.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}	
		<script type="text/javascript">
			(function($) {
				$('a').tooltip();
			})(jQuery);
		</script>
		{% block javascripts %}
		
		{% endblock %}
	</body>
</html>