{% extends "UAMatchBundle::layout.html.twig" %}
{% set menuActive = 'matchs' %}

{% block title %}{{ parent() }} - Sélection du jeux{% endblock %}
{% block headerTitle %}<h3>{{'header.matchs'|trans}} <small>{{ 'match.selectionTitle'|trans }}</small></h3>{% endblock %}

{% block body %}
	<div id="GamesGestion">
		{% for game in games %}
			<p class="game">
				<img src="{{ asset('uploads/img/' ~ game.pictures) }}" alt="{{game.pictures}}"><br />
				<span class="gameName">{{game.name}}</span>
				<span class="controlGame">
					<a href="{{ path('UAMatchBundle_ViewMatchforGame', {'id' : game.id}) }}" class="valide">
						<span class="glyphicon glyphicon-eye-open"></span>
					</a>
				</span>
			</p>
		{% endfor %}
	</div>
	{{ parent() }}
{% endblock %}