{% extends "UAMatchBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Voir les matchs{% endblock %}

{% block body %}
    <article class="col-lg-8 col-lg-offset-1">
    	{% set poolBefore = 0 %}
    	{% if Matchs != null %}
			{% for match in Matchs %}
				{% if match.TeamA.pool != poolBefore %}
					{% if match.TeamA.pool != 1 %}</table>{% endif %}
					<table class="matchPool">
					<thead><tr><td colspan=5>Pool {{ match.TeamA.pool }}</td></tr></thead>
					{% set poolBefore = match.TeamA.pool %}
				{% endif %}
		
				<tr>
					<td>{{ match.TeamA.name}}</td>
					<td>{{ match.scoreA }}</td>
					<td>{{ match.scoreB }}</td>
					<td style="text-align: right;">{{ match.TeamB.name }}</td>
					<td>
						{% if is_granted('ROLE_ARBITRE') %}
							<a href="{{ path('UAMatchBundle_Arbitrage', {'MatchID' : match.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}

		{% else %}
			<div class="alert alert-danger">{{ 'MatchNotExisting'|trans }}</div>
			<a href="{{ path('UAMatchBundle_ViewGameSelect') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span>{{ 'MatchReturn'|trans }}</a>
		{% endif %}
    	</table>
	</article>
	{{ parent() }}
{% endblock %}