{% extends "UABlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Administration{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
	{{ parent() }}
{% endblock %}
 
{% block body %}
	<article class="col-lg-8 col-lg-offset-1">
		<div class="admin">
			<h3>Blog</h3>
			<ul>
				<li><a href="{{ path('UAblog_ajouter') }}">
					<img src="{{ asset('pictures/admin/ajouter.png') }}"><br><br>
					Ajouter
				</a></li>
				<li><a href="{{ path('UAFAQ_add') }}">
					<img src="{{ asset('pictures/admin/faq.png') }}"><br><br>
					F.A.Q.
				</a></li>
			</ul>
		</div>
		<div class="admin">
			<h3>Matchs</h3>
			<ul>
				<li><a href="{{ path('UAMatchAdmin_Game') }}">
					<img src="{{ asset('pictures/admin/game.png') }}"><br><br>
					Jeux
				</a></li>
				<li><a href="{{ path('UAMatchAdmin_Team') }}">
					<img src="{{ asset('pictures/admin/team.png') }}"><br><br>
					Team
				</a></li>
				<li><a href="{{ path('UAMatchAdmin_Generate') }}">
					<img src="{{ asset('pictures/admin/generate.png') }}"><br>
					Génération des matchs
				</a></li>
			</ul>
		</div>
	</article>
    {{ parent() }}
{% endblock %}