{% extends "UABlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
 
{% block body %}
	<article class="col-lg-8 col-lg-offset-1">
		{% for article in Articles if Articles %}
			<div class="BlogArticle">
				<h1 class="title"><a href="{{ path('UAblog_voir', {'slug' : article.slug }) }}">{{article.title}}</a></h1>
				<div class="corps">{{ article.content|bbcode_filter('blog_filter') }}</div>
				<footer>{{'article.published'|trans}} {{article.author}}</footer>
			</div>
		{% else %}
			<div class="alert alert-warning">{{'error.noArticle'|trans}}</div>
		{% endfor %}

		{% if Articles %}
			<div  style="text-align:center;">
				<ul class="pagination">
					{% if pageActive > 1 %}
						<li><a href="{{ path('UAblog_accueil', {'page' : pageActive-1}) }}">&laquo;</a></li>
					{% else %}
						<li class="disabled"><a href="#">&laquo;</a></li>
					{% endif %}

					{% for i in (pageActive-2)..(pageActive+2) %}
						{% if i == pageActive %}
							<li class="active"><a href="#">{{i}}</a></li>
						{% elseif i <= 0 or i > nbrPage %}

						{% else %}
							<li><a href="{{ path('UAblog_accueil', {'page' : i}) }}">{{i}}</a></li>				
						{% endif %}
					{% endfor %}


					{% if pageActive < nbrPage %}
						<li><a href="{{ path('UAblog_accueil', {'page' : pageActive+1}) }}">&raquo;</a></li>
					{% else %}
						<li class="disabled"><a href="#">&raquo;</a></li>
					{% endif %}
				</ul>
			</div>
		{% endif %}
	</article>
	{{ parent() }}
{% endblock %}