{% extends "UABlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un article{% endblock %}
 
{% block body %}
    <article class="col-lg-8 col-lg-offset-1">
        <form method="POST" {{ form_enctype(form) }}>
        	{{ form_errors(form) }}
        	{{ form_widget(form.titre, {'attr' : {'class' : 'form-control', 'placeholder' : 'Titre :', 'value' : }}) }}<br />
        	{{ form_widget(form.contenu, {'attr' : {'class' : 'form-control', 'rows' : '5'}})}}<br />
        	{{ form_rest(form) }}
            <input type="submit" class="btn btn-default"/>
        </form>
    </article>
    {{ parent() }}
{% endblock %}