{% extends "UABlogBundle::layout.html.twig" %}
{% set menuActive = 'faq' %}

{% block title %}{{ parent() }} - Index{% endblock %}
{% block headerTitle %}<h3>{{'blog.admin'|trans}} <small>{{'blog.faq'|trans}}</small></h3>{% endblock %}
 
{% block body %}
	{% for question in faq if faq %}
		<p>
			<strong>{{question.question}}</strong><br>
			<span class="glyphicon glyphicon-hand-right"></span> <em>{{question.reply}}</em>
		</p>
	{% else %}
		<div class="alert alert-info">{{'error.faq.noQuestion'|trans}}</div>
	{% endfor %}
{% endblock %}