{% extends "UAMatchBundle::layout.html.twig" %}
{% set menuActive = 'admin' %}

{% block title %}{{ parent() }} - {{'admin.error.title'|trans}}{% endblock %}
{% block headerTitle %}<h3>{{'header.admin'|trans}} <small>{{'admin.error.title'|trans}}</small></h3>{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="UABlog_default">{{ 'breadcrumb.home'|trans }}</a></li>
		<li><a href="UAUser_admin">{{ 'breadcrumb.admin'|trans }}</a></li>
		<li class="active">{{ 'breadcrumb.error'|trans }}</li>
	</ol>

	<div class="alert alert-danger">{{ ('error.' ~ Error)|trans }}</div>
	<a href="{{ app.request.server.get('HTTP_REFERER') }}" class="btn btn-default">
		<span class="glyphicon glyphicon-chevron-left"></span>
		{{ 'admin.error.AdminReturn'|trans }}
	</a>
	{{ parent() }}
{% endblock %}