{% extends "UAMatchBundle::layout.html.twig" %}
{% set menuActive = 'admin' %}

{% block title %}{{ parent() }} - {{'admin.generate.pool.title'|trans}}{% endblock %}
{% block headerTitle %}<h3>{{'header.admin'|trans}} <small>{{'admin.generate.pool.title'|trans}}</small></h3>{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('UAblog_default') }}">{{ 'breadcrumb.home'|trans }}</a></li>
		<li><a href="{{ path('UAUser_admin') }}">{{ 'breadcrumb.admin'|trans }}</a></li>
		<li><a href="{{ path('UAMatchAdmin_Generate', {'etape': 0}) }}">{{ 'breadcrumb.matchGen'|trans }}</a></li>
		<li class="active">{{ 'breadcrumb.pool'|trans }}</li>
	</ol>	

	<div class="alert alert-info">{{ 'admin.generate.nbrTeamAdvisable'|trans({'%n%' : nbrTeams, '%x%': nbrPoolAdvisable, '%team%': game.name })|raw}}</div>

	<form method="POST" action="{{ path('UAMatchAdmin_Generate', {'etape': 2, 'gameID': game.id }) }}" class="form-inline" role="form">
		<div class="input-group">
			<input type="number" name="nbrPool" class="form-control text-right" value="{{nbrPoolAdvisable}}">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default">{{ 'admin.generate.pool.submit'|trans }} <span class="glyphicon glyphicon-refresh"></span></button>
			</span>
		</div>
		<br>
		<div class="alert alert-warning">
			{{'admin.generate.noteTwice'|trans|raw}}
		</div>
	</form>
	{{ parent() }}
{% endblock %}