{% extends "UAMatchBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'playerAddTitle'|trans }}{% endblock %}

{% block body %}
    <article class="col-lg-8 col-lg-offset-1">
		<ol class="breadcrumb">
			<li><a href="{{ path('UAblog_default') }}">{{ 'home'|trans }}</a></li>
			<li><a href="{{ path('UAUser_admin') }}">{{ 'admin'|trans }}</a></li>
			<li><a href="{{ path('UAMatchAdmin_Team') }}">{{ 'team'|trans }}</a></li>
			<li class="active">{{ 'playerAdd'|trans }}</li>
		</ol>


		{% if error %}
			{% for each in error %}
				<div  class="alert alert-danger">{{each|trans}}</div>
			{% endfor %}
		{% endif %}
		<div class="row">
			<div class="col-lg-5">
				<h2>{{ teamInfo.name }}</h2>
				<div id="password">{{teamInfo.password}}</div>
				<table class="table">
				{% for each in Players %}
					<tr>
						<td>{{ each.username }}</td>
						<td><a href="{{ path('UAMatchAdmin_PlayerDelete', {'id' : each.id})}}" class="PlayerDelete"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
				{% endfor %}
				</table>
				<div class="row">
					{% if Players|length >= teamInfo.game.nbrPlayerRequired %}
						<a href="{{ path('UAMatchAdmin_TeamValide', {id : teamInfo.id}) }}" class="btn btn-success col-lg-4 col-lg-offset-1"><span class="glyphicon glyphicon-ok"></span> {{ 'Valider'|trans }}</a>
					{% else %}
						<button class="btn btn-primary col-lg-4 col-lg-offset-1 " disabled="disabled">Manque {{ teamInfo.game.nbrPlayerRequired - Players|length }}</button>
					{% endif %}	
					<a href="{{ path('UAMatchAdmin_Team') }}" class="btn btn-danger col-lg-4 col-lg-offset-1"><span class="glyphicon glyphicon-remove"></span> {{ 'cancel'|trans }}</a>
				</div>
			</div>
			<div class="col-lg-7">
				{% if Players|length != teamInfo.game.nbrPlayerRequired %}
				<h2 style="text-align:center;">{{ 'playerAdd'|trans }}</h2>
				<form method="POST" {{ form_enctype(form) }}>
					<div class="input-group">
						{{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'playerName'|trans,  'autofocus' : 'autofocus'}}) }}
						<span class="input-group-btn">
							<input type="submit" class="btn btn-default pull-right"/>
						</span>
					</div><br />
					{{ form_rest(form) }}
				</form>
				{% else %}
					<div class="alert alert-success">{{ 'nbrPlayerComplete'|trans }}</div>
				{% endif %}
			</div>
		</div>

	</article>
	
	{{ parent() }}
{% endblock %}