{% extends "UAMatchBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'admin.team.title'|trans }}{% endblock %}

{% block body %}
    <article class="col-lg-8 col-lg-offset-1">
		<ol class="breadcrumb">
			<li><a href="{{ path('UAblog_default') }}">{{ 'breadcrumb.home'|trans }}</a></li>
			<li><a href="{{ path('UAUser_admin') }}">{{ 'breadcrumb.admin'|trans }}</a></li>
			<li class="active">{{ 'breadcrumb.team'|trans }}</li>
		</ol>

		<h2 class="text-center">{{ 'admin.team.title'|trans }}</h2>

		<form method="POST" {{ form_enctype(form) }}>
			{{ form_widget(form.name, {'attr' : {'class' : 'form-control', 'placeholder' : 'admin.team.input.name'|trans,  'autofocus' : 'autofocus'}}) }}
			{{ form_errors(form.name) }}
			<br>
			{{ form_widget(form.game, {'attr' : {'class' : 'form-control'}})}}
			{{ form_errors(form.game) }}
			<br>
			{{ form_rest(form) }}
		    <input type="submit" class="btn btn-default"/>
		</form>
		<hr>
		{% if Teams %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>{{ 'admin.team.input.name'|trans }}</th>
						<th>{{ 'admin.team.input.game'|trans }}</th>
						<th colspan="2" class="text-center">{{ 'admin.team.input.action'|trans }}</th>
					</tr>
				</thead>
				{% for team in Teams %}
					<tr>
						<td>{{team.name}}</td>
						<td>{{team.game.name}}</td>
						<td class="text-center">
							{% if team.present == 'True' %}
								<span class="glyphicon glyphicon-ok" style="color: #2ecc71;"></span>
								<span style="color: #2ecc71;">{{ 'admin.team.valide'|trans|upper }}</a>
							{% else %}
								<a href="{{ path('UAMatchAdmin_PlayerAdd', {id: team.id}) }}" class="PlayerAdd">
									<span class="glyphicon glyphicon-plus-sign"></span>
									<span class="masque">{{ 'admin.team.playerAdd'|trans }}</span>
								</a>
							{% endif %}
						</td>
						<td><a href="{{ path('UAMatchAdmin_TeamDelete', {id: team.id}) }}" class="delete"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
				{% endfor %}
				<tr>
					<td>
						{% if page > 1 %}
						<a href="{{ path('UAMatchAdmin_Team', {id: page-1})}}">&#171;</a>
						{% endif %}
					</td>
					<td colspan="2"></td>
					<td class="text-right"><a href="{{ path('UAMatchAdmin_Team', {id: page+1})}}">&#187;</a></td>
				</tr>
			</table>
		{% endif %}
	</article>
	{{ parent() }}
{% endblock %}