{% extends "UABlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{'admin.article.add.title'|trans}}{% endblock %}
 
{% block body %}
	<article class="col-lg-8 col-lg-offset-1">
		<ol class="breadcrumb">
			<li><a href="{{ path('UAblog_default') }}">{{ 'breadcrumb.home'|trans }}</a></li>
			<li><a href="{{ path('UAUser_admin') }}">{{ 'breadcrumb.admin'|trans }}</a></li>
			{% if articles is not null %}
				<li class="active">{{ 'breadcrumb.add'|trans }}</li>
			{% else %}
				<li class="active">{{ 'breadcrumb.modify'|trans }}</li>
			{% endif %}
		</ol>
		<h2 class="text-center">{{articles ? 'admin.article.add.title'|trans : 'admin.article.modif.title'|trans}}</h2>
		<br>
		<form method="POST" {{ form_enctype(form) }} novalidate>
			{{ form_widget(form.title, {'attr' : {'class' : 'form-control', 'placeholder' : 'admin.article.add.input.title'}}) }}
			{{ form_errors(form.title) }}
			<br>
			{{ form_widget(form.content, {'attr' : {'class' : 'form-control', 'rows' : '5', 'placeholder' : 'admin.article.add.input.content'}})}}
			{{ form_errors(form.content) }}
			<br>
			{{ form_rest(form) }}
			<input type="submit" class="btn btn-default"/>
		</form>
		<br>
		<!--Articles management-->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>{{'admin.article.add.table.titre'|trans}}</th>
					<th>{{'admin.article.add.table.author'|trans}}</th>
					<th colspan="2">{{'admin.article.add.table.action'|trans}}</th>
				</tr>
			</thead>
			{% for article in articles if articles %}
			<tbody>
				<tr>
					<td>
						<a href="{{path('UAblog_voir', {'slug' : article.slug})}}">
							{{ article.title }}
						</a>
					</td>
					<td>{{ article.author }}</td>
					<td>
						<a href="{{ path('UAblog_modifier', { 'article' : article.id }) }}" class="ArticleModif">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td>
					<td>
						<a href="{{ path('UAblog_supprimer', { 'article' : article.id }) }}" class="ArticleDelete">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>
			{% endfor %}
			{% if page is defined %}
			<tfoot>
				<tr>
					<td>
						{% if page > 1 %}
							<a href="{{path('UAblog_ajouter', {'page': page-1})}}" class="btn btn-default">&#171;</a>
						{% else %}
							<boutton class="btn btn-default" disabled="disabled">&#171;</boutton>
						{% endif %}
					</td>
					<td colspan="2"></td>
					<td class="text-right">
						{% if page < nbrPage %}
							<a href="{{path('UAblog_ajouter', {'page': page+1})}}" class="btn btn-default">&#187;</a>
						{% else %}
							<boutton class="btn btn-default" disabled="disabled">&#187;</boutton>
						{% endif %}
					</td>
				</tr>
			</tfoot>
			{% endif %}
		</table>
	</article>
	{{ parent() }}
{% endblock %}