{% extends "UABlogBundle::layout.html.twig" %}
{% set menuActive = 'admin' %}

{% block title %}{{ parent() }} - {{'admin.faq.delete.title'|trans}}{% endblock %}
{% block headerTitle %}<h3>{{'blog.admin'|trans}} <small>{{'admin.faq.delete.title'|trans}}</small></h3>{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('UAblog_default') }}">{{ 'breadcrumb.home'|trans }}</a></li>
		<li><a href="{{ path('UAUser_admin') }}">{{ 'breadcrumb.admin'|trans }}</a></li>
		<li class="active">{{ 'breadcrumb.delete'|trans }}</li>
	</ol>

	<p>
		<div class="alert alert-danger">{{'admin.faq.delete.message'|trans({'%titre%' : faq.question})}}</div>
	</p>
	<form method="POST" {{ form_enctype(form) }}>
		<a href="{{ path('UAFAQ_add') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> {{'admin.faq.delete.input.back'|trans}}</a>
		<input type="submit" class="btn btn-danger" value="{{'admin.faq.delete.input.delete'|trans}}" />
		{{ form_rest(form) }}
	</form>
	{{ parent() }}
{% endblock %}